{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<style>
  .form-group {
    margin-bottom: 0.8rem;
  }

  .form-control {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    width: 100%;
    padding: 0.2rem 0.75rem;
  }

  .card-header {
    padding: 1rem 1.5rem;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
</style>

<script src="{%static 'home/assets/img/map/mapdata.js' %}"></script>
<script src="{%static 'home/assets/img/map/countrymap.js' %}"></script>
{% endblock head %}
{% block bodytag %}{% endblock bodytag %}
{% block sidenav %}
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="javascript:void(0)">
        <h2 class="mt-2 w-900">INVENTORY</h2>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <div class="col-xl-4">
          <h2 class="mb-0">Raw Materials</h2>
        </div>

        <!-- Nav items -->
        <ul class="navbar-nav" id="resource-inventory">
          {% for i in rmc %}
          <li class="nav-item">
            <div class="nav-link">
              <!--<i class="ni ni-tv-2 text-primary"></i>-->
              <span class="nav-link-text">{{i.raw_material}}</span><span class="lak"
                id="{{i.id}}rmc">{{i.quantity}}</span>
            </div>
          </li>
          {% endfor %}
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading-->
        <div class="col-xl-4">
          <h2 class="mb-0">Products</h2>
        </div>
        <ul class="navbar-nav mb-md-3" id="product-inventory">
          {% for i in pc%}
          <li class="nav-item">
            <div class="nav-link">
              <!--<i class="ni ni-spaceship"></i>-->
              <span class="nav-link-text">{{i.product}}</span><span class="lak" id="{{i.pc}}pc">{{i.quantity}}</span>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endblock sidenav %}

{% block body %}



<div class="container-fluid ">
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">

        <div id="map" style="text-align: center;">
          <!-- <img style="min-height: 100vh;" src="{%static 'home/assets/img/map/country.svg' %}"> -->

        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card" style="min-height:100vh;">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h1 class="mb-0">Buying Form</h1>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <form method="POST" id="buying-form">
              {% csrf_token %}
              {{form|crispy}}
              <input type="button" class="btn btn-primary my-4" id="submit-btn" value="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endblock body %}

  {% block js %}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#submit-btn').click(function () {
        console.log('hello world')
        let spot = $('#id_spot').val();
        let raw_material_1 = $('#id_raw_material_1').val();
        let raw_material_2 = $('#id_raw_material_2').val();
        let quantity_1 = $('#id_quantity_1').val();
        let quantity_2 = $('#id_quantity_2').val();
        let token = $('input[name=csrfmiddlewaretoken]').val();
        // console.log(spot, rm1, rm2, q1, q2)
        mydata = { "spot": spot, "raw_material_1": raw_material_1, "raw_material_2": raw_material_2, "quantity_1": quantity_1, "quantity_2": quantity_2, "csrfmiddlewaretoken": token }
        // console.log(mydata)
        $.ajax({
          type: "POST",
          url: "/buy/",
          data: mydata,
          dataType: "json",
          success: function (res) {
            // for (i = 0; i < res.rmc.length; i++) {
            //     $('#' + res.rmc[i].id +'rmc').html( res.rmc[i].quantity);
            // }
            // for (i = 0; i < res.pc.length; i++) {
            //     $('#' + res.pc[i].id +'pc').html( res.pc[i].quantity);
            // }
            console.log(res);
            output1 = "";
            output2 = "";
            for (i = 0; i < res.rmc.length; i++) {
              let obj = res.items.filter(item => item.id === res.rmc[i].raw_material_id);
              output1 += "<li class='nav-item'><a class='nav-link' href='#'><span class='nav-link-text'> " + obj[0].name +
                "</span><span class='lak' id='" + res.rmc[i].id + "rmc'>"
                + res.rmc[i].quantity + "</span></a></li>"
            }
            $('#resource-inventory').html(output1)
            for (i = 0; i < res.pc.length; i++) {
              let obj = res.items.filter(item => item.id === res.pc[i].product_id);

              output2 += "<li class='nav-item'><a class='nav-link' href='#'><span class='nav-link-text'> " + obj[0].name +
                "</span><span class='lak' id='" + res.pc[i].id + "rmc'>"
                + res.pc[i].quantity + "</span></a></li>"
            }
            $('#product-inventory').html(output2)
            if (res.messages) {
              for (i in res.messages)
                alert(res.messages[i]);
            }
          }
        });
      });
    });

  </script>

  {% endblock js %}