{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
	
	<style type="text/css">
		.cardinner{
			background: #acacac !important;
		}
		.nav-link :hover {
			color: black;
		}
	</style>

{% endblock head %}
{% block bodytag %}{% endblock bodytag %}


{% block sidenav %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
	<div class="scrollbar-inner">
		<!-- Brand -->
		<div class="sidenav-header  align-items-center">
			<img src="{% static 'home/assets/img/elevate-black.png' %}" style="height: 100px; width: 100px; margin-top: 5px;">
			
		</div>
		<div class="navbar-inner">
			<!-- Collapse -->
			<div class="collapse navbar-collapse" id="sidenav-collapse-main">
				<div class="col-xl-4" style="margin-top: 40px;">
					<h2 class="mb-0" style="color: black !important;">Industry</h2>
				</div>

				<!-- Nav items -->
				<ul class="navbar-nav" id="resource-inventory">
					<li class="nav-item">
						<div class="nav-link" style="padding: 0.675rem 1.5rem;">
							<!--<i class="ni ni-tv-2 text-primary"></i>-->
							<span class="nav-link-text" style="font-size: 20px; font-weight: bold; ">{{request.user.industry.spot.name}}</span>
						</div>
					</li>
				</ul>
				<hr class="my-3">
				<div class="col-xl-4">
					<h2 class="mb-0" style="color: black !important;">Raw Materials</h2>
				</div>

				<!-- Nav items -->
				<ul class="navbar-nav" id="resource-inventory">
					{% for i in rmc %}
					<li class="nav-item">
						<a class="nav-link" href="#">
							<!--<i class="ni ni-tv-2 text-primary"></i>-->
							<span class="nav-link-text">{{i.raw_material}}</span><span class="lak"
								id="{{i.id}}rmc">{{i.quantity}}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
				<!-- Divider -->
				<hr class="my-3">
				<!-- Heading-->
				<div class="col-xl-4">
					<h2 class="mb-0" style="color: black !important;">Products</h2>
				</div>
				<ul class="navbar-nav mb-md-3" id="product-inventory">
					{% for i in pc%}
					<li class="nav-item">
						<a class="nav-link" href="#" target="_blank">
							<span class="nav-link-text">{{i.product}}</span><span class="lak"
								id="{{i.id}}pc">{{i.quantity}}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</nav>
{% endblock sidenav %}
{% block body %}
	<!-- Page content -->
	<div class="container-fluid ">
		<div class="row">
			<div class="col-xl-7">
				<div class="card bg-default" style="overflow: visible !important;">

					<div class="card-body col-lg-12" style="overflow: visible !important;">
						<!-- Chart -->


						<div class="container">
							<div class="row" style="justify-content: center;">
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-capsules" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Nicotine Patches</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Nicotine</span> <span style="text-align: left;"> 7 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Water</span> <span style="text-align: left;"> 14 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Food Edibles</span> <span style="text-align: left;"> 4 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Oil</span> <span style="text-align: left;"> 3 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Plastic Polymers</span> <span style="text-align: left;"> 3 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-object-ungroup" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Semi Conductors</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Iron</span> <span style="text-align: left;"> 6 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Silicon</span> <span style="text-align: left;"> 21 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Carbon compound</span> <span style="text-align: left;"> 2 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Stainless Steel</span> <span style="text-align: left;"> 7 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Plastic Polymers</span> <span style="text-align: left;"> 2 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-fighter-jet" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Fire Arms</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Iron</span> <span style="text-align: left;"> 18 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Chemicals</span> <span style="text-align: left;"> 4 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Silicon</span> <span style="text-align: left;"> 14 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Carbon compound</span> <span style="text-align: left;"> 4 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Rubber</span> <span style="text-align: left;"> 3 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Stainless Steel</span> <span style="text-align: left;"> 7 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Plastic Polymers</span> <span style="text-align: left;"> 2 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="container">
							<div class="row" style="justify-content: center;">
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-fan" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Cooler</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Iron</span> <span style="text-align: left;"> 19 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Carbon compound</span> <span style="text-align: left;"> 3 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Silicon</span> <span style="text-align: left;"> 14 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Rubber</span> <span style="text-align: left;"> 2 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Stainless Steel</span> <span style="text-align: left;"> 6 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Plastic Polymers</span> <span style="text-align: left;"> 3 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-paint-brush" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Cosmetics</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Water</span> <span style="text-align: left;"> 13 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Chemicals</span> <span style="text-align: left;"> 13 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Carbon compound</span> <span style="text-align: left;"> 6 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Oil</span> <span style="text-align: left;"> 7 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-shoe-prints" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Shoes</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Chemicals</span> <span style="text-align: left;"> 2 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Carbon compound</span> <span style="text-align: left;"> 2 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Rubber</span> <span style="text-align: left;"> 4 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Plastic Polymers</span> <span style="text-align: left;"> 2 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Fabric</span> <span style="text-align: left;"> 1 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="container">
							<div class="row" style="justify-content: center;">
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-water" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Hot Water Bag</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Chemicals</span> <span style="text-align: left;"> 4 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Carbon compound</span> <span style="text-align: left;"> 3 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Rubber</span> <span style="text-align: left;"> 2 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Plastic Polymers</span> <span style="text-align: left;"> 4 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Fabric</span> <span style="text-align: left;"> 1 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-wine-bottle" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Soft Drinks</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Water</span> <span style="text-align: left;"> 40 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Food Edibles</span> <span style="text-align: left;"> 6 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Carbon compound</span> <span style="text-align: left;"> 7 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Oil</span> <span style="text-align: left;"> 8 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 card card-stat card-body mx-2 cardinner"
									style="overflow: visible !important;">
									<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
										<li class="nav-item dropdown">
											<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<div class="media align-items-center" style="flex-direction: column;">
													<div class="" >
														<i class="fas fa-car-battery" style="font-size: 35px;"></i>
													</div>
													<div class="media-body  ml-2  d-none d-lg-block">
														<span class="mb-0 text-sm  font-weight-bold">Inverters & Batteries</span>
													</div>
												</div>
											</a>
											<div class="dropdown-menu  dropdown-menu-right ">
												<a href="#!" class="dropdown-item">
													<span>Iron</span> <span style="text-align: left;"> 4 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Chemicals</span> <span style="text-align: left;"> 13 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Silicon</span> <span style="text-align: left;"> 2 </span>

												</a>
												<a href="#!" class="dropdown-item">
													<span>Stainless Steel</span> <span style="text-align: left;"> 2 </span>
												</a>
												<a href="#!" class="dropdown-item">
													<span>Plastic Polymers</span> <span style="text-align: left;"> 3 </span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>



					</div>
				</div>
			</div>
			<div class="col-xl-5">
				<div class="card">
					<div class="card-header bg-transparent">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="text-uppercase text-light ls-1 mb-1"></h6>
								<h5 class="h3 mb-0">Manufacture Product</h5>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form method="POST">
							{% csrf_token %}
							{{form|crispy}}
							<div class="text-center">
								<input type="button" id="submit-btnm" value="Manufacture Now"
									class="btn btn-primary my-4">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock body %}

{% block js%}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
	$(document).ready(function () {
		$('#submit-btnm').click(function () {
			let product = $('#id_product').val();
			let quantity = $('#id_quantity').val();
			let token = $('input[name=csrfmiddlewaretoken]').val();
			$("#submit-btnm").val("Processing...");
			$("#submit-btnm").attr('disabled', true);
			mydata = { "product": product, "quantity": quantity, "csrfmiddlewaretoken": token }
			$.ajax({
				type: "POST",
				url: "/manufacture/",
				data: mydata,
				dataType: "json",
				success: function (res) {
					// for (i = 0; i < res.rmc.length; i++) {
					// 	$('#' + res.rmc[i].id + 'rmc').html(res.rmc[i].quantity);
					// }
					// for (i = 0; i < res.pc.length; i++) {
					// 	$('#' + res.pc[i].id + 'pc').html(res.pc[i].quantity);
					// }
					
					// $('#ecoins').html(res.ecoin.e);
					// console.log(res);
					$('#ecoins').html(res.ecoin);	
					output1 = "";
					output2 = "";
					for (i = 0; i < res.rmc.length; i++) {
						let obj = res.items.filter(item => item.id === res.rmc[i].raw_material_id);
						output1 += "<li class='nav-item'><a class='nav-link' href='#'><span class='nav-link-text'> " + obj[0].name +
							"</span><span class='lak' id='" + res.rmc[i].id + "rmc'>"
							+ res.rmc[i].quantity + "</span></a></li>";
					}
					$('#resource-inventory').html(output1);
					console.log(res.pc);
					for (i = 0; i < res.pc.length; i++) {
						let obj = res.items.filter(item => item.id === res.pc[i].product_id);
						console.log(obj);
						output2 += "<li class='nav-item'><a class='nav-link' href='#'><span class='nav-link-text'> " + obj[0].name +
							"</span><span class='lak' id='" + res.pc[i].id + "rmc'>"
							+ res.pc[i].quantity + "</span></a></li>";
					}
					$('#product-inventory').html(output2);
					if (res.messages) {
						for (i in res.messages)
							alert(res.messages[i]);
					}
					
					$("#submit-btnm").val("Manufacture Now");
					$("#submit-btnm").attr('disabled', false);
					$("form")[0].reset()
				}
			});
		});
	});
</script>

{% endblock js%}